[alias]
	co = checkout
	cim = commit -m
    update = "!~/.git_update.sh"
	new = checkout -b
    sync="!python ~/.sync_master.py"
	cleanup = "!git branch --merged master | grep -v '^*\\|master' | xargs -n 1 git branch -D"
    rcleanup = "!git fetch --prune; git branch --remote --merged | grep origin | grep -v '>' | grep -v master | xargs -L1 | cut -d"/" -f2- | xargs git push origin --delete;"
    pr = "!python ~/.open_pull.py"
    branch-current = rev-parse --symbolic-full-name --abbrev-ref HEAD
    number-of-commits-since-master = "! sh -c 'git log master..`git branch-current` --oneline | wc -l | tr -d \" \"'"
    squash = "! sh -c 'git rebase --interactive HEAD~`git number-of-commits-since-master`'"
    squash2 = "! sh -c 'git rebase --interactive `git branch-current`~`git number-of-commits-since-master` `git branch-current`'"
    fcm = "!git log master..$(git branch-current) --oneline | tail -1 | cut -d ' ' -f2-"
    cfcm = "!git fcm | pbcopy"
    fp = "!git push origin $(git branch-current) -f"
    w = "!git update 'WIP'"
[user]
	name = Joseph McGovern
	email = joseph.mcgovern@webfilings.com
[push]
	default = matching
