home/vim/.vim/undo/*

# Sensitive files
home/gh/.config/gh/hosts.yml
home/ddtool/.config/ddtool/next-update-check
home/graphite/.config/graphite/user_config

# Alacritty themes (external repo, not tracked)
home/alacritty/.config/alacritty/themes/
