tags
*.py[cod]
settingslocal.py
src/static/docs

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

pip-log.txt

# unit test & coverage reports
cover
.coverage
.coverage*
.tox
nosetests.xml

# Vagrant info is all strictly local:
.vagrant

# Mac Specific ignore
.DS_Store
*.swp
*.swo
.AppleDouble
.LSOverride
Icon

._*

.Trashes
.Spotlight-V100

# code coverage reports
htmlcov
coverage.xml
*,cover
*.db

# Any logs
*.log
*.log.*

# pycharm
/.idea/*

# npm ignores
node_modules

# support scripts bigsky credentials
/src/auth/bigsky_keys/*
