[alias]
	co = checkout
    cm = "!git add .; git commit -m"
	cim = commit -m
    update = "!git_update"
	new = checkout -b
    sync="!~/wDev/git_sync/target/release/git_sync"
    cleanup = "!python ~/local_scripts/cleanup_branches.py"
    rcleanup = "!git fetch --prune; git branch --remote --merged | grep origin | grep -v '>' | grep -v master | xargs -L1 | cut -d"/" -f2- | xargs git push origin --delete;"
    pr = "!git_pr"
    branch-current = rev-parse --symbolic-full-name --abbrev-ref HEAD
    pu = "!git push upstream $(git branch-current)"
    po = "!git push origin $(git branch-current)"
    number-of-commits-since-master = "! sh -c 'git log master..`git branch-current` --oneline | wc -l | tr -d \" \"'"
    squash = "! sh -c 'git rebase --interactive HEAD~`git number-of-commits-since-master`'"
    squash2 = "! sh -c 'git rebase --interactive `git branch-current`~`git number-of-commits-since-master` `git branch-current`'"
    fcm = "!git log master..$(git branch-current) --oneline | tail -1 | cut -d ' ' -f2-"
    cfcm = "!git fcm | pbcopy"
    fp = "!git push origin $(git branch-current) -f"
    w = "!git cm 'WIP'"
    copr = "!~/wDev/git_copr/target/release/git_copr"
[user]
	name = First Last
	email = youremail@email.com
[push]
	default = matching
[init]
	templatedir = /Users/josephmcgovern/.git-template
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
