[submodule "home/vim/.vim/pack/tpope/start/vim-surround"]
	path = home/vim/.vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/vim/.vim/pack/tpope/start/sensible"]
	path = home/vim/.vim/pack/tpope/start/sensible
	url = https://tpope.io/vim/sensible.git
[submodule "home/vim/.vim/pack/tpope/start/fugitive"]
	path = home/vim/.vim/pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "home/vim/.vim/pack/tpope/start/vim-rhubarb"]
	path = home/vim/.vim/pack/tpope/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "home/vim/.vim/pack/tpope/start/sleuth"]
	path = home/vim/.vim/pack/tpope/start/sleuth
	url = https://tpope.io/vim/sleuth.git
[submodule "home/vim/.vim/pack/tpope/opt/repeat"]
	path = home/vim/.vim/pack/tpope/opt/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "home/vim/.vim/pack/tpope/opt/eunuch"]
	path = home/vim/.vim/pack/tpope/opt/eunuch
	url = https://tpope.io/vim/eunuch.git
[submodule "home/vim/.vim/pack/plugins/start/vim-startify"]
	path = home/vim/.vim/pack/plugins/start/vim-startify
	url = https://github.com/vim-scripts/vim-startify.git
[submodule "home/vim/.vim/pack/plugins/start/vim-lastplace"]
	path = home/vim/.vim/pack/plugins/start/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule "home/vim/.vim/pack/plugins/start/lightline"]
	path = home/vim/.vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "home/vim/.vim/pack/plugins/start/typescript-vim"]
	path = home/vim/.vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "home/vim/.vim/pack/plugins/start/vim-gitgutter"]
	path = home/vim/.vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "home/vim/.vim/pack/plugins/start/ale"]
	path = home/vim/.vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "home/vim/.vim/pack/plugins/start/vim-gutentags"]
	path = home/vim/.vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "home/vim/.vim/pack/plugins/start/tcomment_vim"]
	path = home/vim/.vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "home/vim/.vim/pack/plugins/start/vim-printer"]
	path = home/vim/.vim/pack/plugins/start/vim-printer
	url = https://github.com/meain/vim-printer.git
[submodule "home/vim/.vim/pack/plugins/start/delimitMate"]
	path = home/vim/.vim/pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "home/vim/.vim/pack/plugins/start/vim-dispatch"]
	path = home/vim/.vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "home/vim/.vim/pack/plugins/start/vim-jsx-typescript"]
	path = home/vim/.vim/pack/plugins/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "home/vim/.vim/pack/plugins/start/vim-terraform"]
	path = home/vim/.vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "home/vim/.vim/pack/plugins/start/vim-tmux-navigator"]
	path = home/vim/.vim/pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "home/vim/.vim/pack/plugins/start/vim-peekaboo"]
	path = home/vim/.vim/pack/plugins/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule "home/vim/.vim/pack/packages/start/fzf.vim"]
	path = home/vim/.vim/pack/packages/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "home/vim/.vim/pack/packages/start/fzf"]
	path = home/vim/.vim/pack/packages/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "home/vim/.vim/pack/colors/start/gruvbox"]
	path = home/vim/.vim/pack/colors/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "home/vim/.vim/pack/plugins/start/undotree"]
	path = home/vim/.vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "home/vim/.vim/pack/plugins/start/YankRing"]
	path = home/vim/.vim/pack/plugins/start/YankRing
	url = git@github.com:vim-scripts/YankRing.vim.git
