appnope==0.1.0
astroid==1.5.2
awscli==1.11.121
backports-abc==0.4
backports.functools-lru-cache==1.3
backports.shutil-get-terminal-size==1.0.0
boto3==1.4.1
botocore==1.5.84
certifi==2016.8.8
cf-check==1.1.1
cffi==1.9.1
colorama==0.3.7
configparser==3.5.0
cov-core==1.15.0
coverage==3.7.1
crc16==0.1.1
cryptography==1.6
cycler==0.10.0
decorator==4.0.10
docutils==0.13.1
ed25519==1.4
entrypoints==0.2.2
enum34==1.1.6
functools32==3.2.3.post2
futures==3.1.1
greenlet==0.4.12
httplib2==0.10.3
idna==2.1
ipaddress==1.0.17
ipykernel==4.4.1
ipython==5.1.0
ipython-genutils==0.1.0
isort==4.2.5
Jinja2==2.8
jmespath==0.9.3
jsonschema==2.5.1
jupyter-client==4.3.0
jupyter-core==4.1.1
lazy-object-proxy==1.2.2
MarkupSafe==0.23
matplotlib==1.5.2
mccabe==0.6.1
mistune==0.7.3
msgpack-python==0.4.8
nbconvert==4.2.0
nbformat==4.1.0
neovim==0.1.13
nose==1.3.7
nose-cov==1.6
nose-exclude==0.4.1
NoseGAE==0.5.8
-e git+https://github.com/jupyter/notebook.git@b55157282a2f56be589eb9c2558e7840e1df552c#egg=notebook
numpy==1.11.2
oauth2client==4.1.2
paramiko==2.0.2
pathlib2==2.1.0
pbr==2.0.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.7
ptyprocess==0.5.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.17
pyflakes==1.5.0
PyGithub==1.26.0
pylint==1.7.1
pyparsing==2.1.8
python-dateutil==2.5.2
PyYAML==3.12
pyzmq==15.4.0
requests==2.13.0
rsa==3.4.2
s3transfer==0.1.10
sftpclone==1.1.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sseclient==0.0.18
stellar-base==0.1.5
stevedore==1.21.0
TBB==0.1
terminado==0.6
texttable-fixed==0.8.3
tornado==4.4.1
traitlets==4.2.2
trollius==2.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
wrapt==1.10.10
